
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

#teacher {
  background-color: #ffeeba;
  color: #856404;
}

svg {
  width: 500px;
  height: 300px;
  margin-top: 10px;
}

#skyline {
  width: 1000px;
}

#doNotPush {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px 25px 25px 25px;
  font-weight: bold;
  cursor: default;
}